.section{
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
}
.section__title{
  font-size: 69px;
  color:#424b5a;
}
.sectiono__sub-title{
  font-size: 20px;
  line-height: 27px;
  color: #737b81;
}
