.form {
  background-image: url('../img/form-bg.jpg');
}

.form__title {
  text-align: center;
  margin-top:50px;
  margin-bottom: 30px;
}

.form__sub-title {
  text-align: center;
  width: 850px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.form__main-form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 945px;

  margin: 0 auto; 
  margin-bottom: 110px;
}
.form__container{
  width: 450px;
  margin: 0;
  margin-bottom: 30px;
}
.form__button{
  margin: 0 auto;
  margin-top: 40px;
}