.get-of{
  background-image: url('../img/get-of.jpg');
  background-color:#ebe8fe ;
  border-top: 1px solid transparent;
}
.get-of__right-side{
  margin-left: auto;
  width:455px;
}
.get-of__title{
  margin-top: 111px;
  margin-bottom: 34px;
}
.get-of__sub-title{
  margin-bottom: 54px;
  // width: 470px;
}

.get-of__button{
  margin-bottom: 180px;
}