.hero{
  background-image: url('../img/main.jpg');
}
.hero__right-side{
  margin-left: auto;
  width:470px;
}
.hero__title{
  margin-top: 150px;
  margin-bottom: 25px;
  font-size: 69px;
  color:#424b5a;
}
.hero__sub-title{
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 40px;
  color: #737b81;
}
.hero__button{
  margin-bottom: 170px;
}

