.pregnant{
  background-image: url('../img/pregnant.jpg');
}
.pregnant__right-side{
  margin-right: auto;
  width:570px;
}
.pregnant__title{
  margin-top: 188px;
  margin-bottom: 60px;
}
.pregnant__sub-title{
  margin-bottom: 70px;
  width: 470px;
}

.pregnant__button{
  margin-bottom: 180px;
}